.DS_Store
.Rhistory
model_outtakes.R
generate_renv.R
model_catboost_2024-07-22.R
model_catboost_2024-07-23.R
model_catboost_2024-07-23_B.R
draft_of_loops.R
first_file_to_run.R
run_all.R
second_file_to_run.R
test_run_all.R
model_xgboost_fake_data.R
model_catboost_fake_data.R
Archive_gitignore/manually_generated_fake_metadata_v2.csv
Archive_gitignore/manually_generated_fake_metadata_v1.csv
fake_data_for_code_testing/fake_data_file.csv
fake_data_for_code_testing/pmt_train_and_evaluation_samples_seed_1.csv
fake_data_for_code_testing/pmt_train_and_evaluation_samples_seed_2.csv
*.R
dataset_size_analysis/topics_at_100k.png
*.png
